* {
	margin:0;
	padding:0;
}

.title {
	font-weight: bold;
}

#headarea {
	padding: 0.5em;
}

#footerarea {
	padding: 0.5em;
	font-size: 10px;
}

.linkarea {
	font-size: 12px;
	font-weight: bold;
}

.pastearea {
	text-align: center;
	height: 1.5em;
}

.copybtn {
	padding: 0.2em;
}
